* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.tile {
  border: 1px solid;
  width: 30px;
  height: 30px;
  background-color: #ecdec7;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile span {
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: black;
  display: flex;
  top: 0;
}
.tile :first-child {
  left: 50%;
  transform: translateX(-50%);
}
.tile :nth-child(2) {
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  left: 0;
}

.stone {
  border: 1px solid;
  width: 24px;
  height: 24px;
  border-radius: 100px;
  background-color: black;
  position: relative;
  z-index: 1;
  opacity: 0.8;
}

.stone.white {
  background-color: whitesmoke;
  opacity: 0.95;
  border: 1px solid whitesmoke;
}

.tile:hover .stone {
  opacity: 0.8;
}
.tile:hover .stone.white {
  opacity: 0.5;
}
